* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sf-pro;
    src: url(/src/font/sf-pro/SFPRODISPLAYREGULAR.OTF);
}

.container {
    .head {
        display: flex;
        justify-content: space-between;
        padding: 15px 40px;
        background-color: #f6f7f8;

        .head-menu-hidden {
            display: none;
        }

        .head-menu {
            a {
                font-size: 14px;
                text-decoration: none;
                color: #666;
                background-color: transparent;
                font-family: system-ui;
                margin-right: 1.5rem;


            }

            a:hover {
                text-decoration: underline;
            }

            a:last-child {
                border: 1.5px solid #0056c1;
                border-radius: 40px;
                color: #0056c1 !important;
                display: inline-block;
                font-weight: 500;
                padding: 6px 12px
            }

            a:last-child:hover {
                background-color: #0056c1;
                color: white !important;
            }
        }

        .right-side {
            span {
                margin-right: 25px;
                font-size: 17px;
                color: #666;
                background-color: transparent;
                font-family: system-ui;
            }

            a {
                margin-right: 25px;
                font-size: 17px;
                color: #666;
                background-color: transparent;
                font-family: system-ui;
                text-decoration: none;
            }
        }
    }

    .sub-head {
        display: flex;
        justify-content: space-between;
        padding: 17px 40px;
        height: 80px;
        border-bottom: 1px solid #f4f4f4;
        align-items: center;

        .sub-nav {
            display: flex;
            align-items: center;

            img {
                height: 50px;

                &:nth-child(1) {
                    margin-right: 40px;
                }
            }

            a {
                text-decoration: none;
                color: #a1a1a1;
                font-weight: 500;
                font-family: system-ui;
                margin-left: 20px;



            }


        }

        .sub-right-nav {
            a {
                display: flex;
                gap: 10px;
                font-size: 17px;
                font-weight: 600;
                color: #0056c1;
                font-family: system-ui;
                text-decoration: none;
            }

        }

        .side-menu-icon {
            display: none;
        }





    }

    .menu-icon {
        width: 28px;
        height: 5px;
        background-color: #706464;
        margin: 3px 0;

    }

    .navbar-header {
        padding: 40px 40px;

        .nav-menu {
            position: relative;

            .border {
                position: relative;
                position: relative;
                display: inline-block;
                height: 3rem;
            }

            .border::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.24rem;
                background-color: #3b8ae0;
                bottom: 0;
                left: 0;
                top: 2.8rem;
                transition: 0.3s;
                border-radius: 5px;
            }

            .underline::after {
                transform: scale(0, 1);
                transform-origin: 0% 100%;
                transition: transform 0.3s eases;
            }

            .underline:hover::after {
                transform: scale(1, 1);
            }





            ul {
                display: flex;
                list-style: none;


                li {


                    .hover-menu {
                        display: none;
                        position: absolute;
                        padding: 4rem 3.5rem;
                        width: 100%;
                        left: 0;
                        border-top: 1px solid #ede7e7;
                        transition: all .4s ease;



                        a {
                            margin-right: 19px;
                            text-decoration: none;
                            color: #262626;
                            font-size: 18px;
                            font-family: auto;



                        }


                    }



                    &:hover {
                        .hover-menu {
                            display: flex;
                        }
                    }


                    a {
                        margin-right: 19px;
                        text-decoration: none;
                        color: #17253a;
                        font-size: 16px;
                        font-family: sans-serif;
                    }


                }




            }
        }
    }
}

@media only screen and (max-width: 1200px) {



    .head {

        .head-menu-hidden {
            display: block !important;
            font-size: 17px;
            font-family: sans-serif;
        }

        .head-menu {
            display: none;
        }

        .right-side {
            display: flex;
            justify-content: end;
        }

    }

    .sub-head {
        .sub-nav {
            .sub-nav-parts {
                display: none;

            }
        }

        .sub-right-nav {
            display: none;
        }

        .side-menu-icon {
            display: block !important;
        }
    }

    .navbar-header {
        display: none;
    }
}